<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mt-5">
          <v-row v-if="failGettinBook">
            <v-col cols="12">
              <p class="text-center">Error obteniendo el libro, <router-link :to="{path: '/book'+keyToUrl(book)}" >Back to home,</router-link></p>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col cols="12">
              <v-col>

              <v-btn primary @click="$router.go(-1)">Volver</v-btn>

              </v-col>
            </v-col>
            <v-col cols="4">
              <v-img
                height="250"
                :src="setImage"
                @error="failedLoadImage = true"
                :contain="true"
              ></v-img>
            </v-col>
            <v-col>
              <v-row style="height:100%">
                <v-col class="d-flex align-content-center flex-column">
                  <p class="text-h4 font-weight-bold">{{details.title}}</p>
                  <p class="text-subtitle-1 mt-auto" v-if="details.description">Description: {{details.description}}</p>
                  <p v-else>No se encontro descripción</p>
                  <p class="text-subtitle-1 mt-auto" v-if="authorName.length">Authors: {{authorName}}</p>
                  <p v-else>No se encontro información de los autores</p>
                  <p class="text-subtitle-1 mt-auto" v-if="subjects.length">Subjects: {{subjects}}</p>
                </v-col>

              </v-row>
            </v-col>
          </v-row>

        </v-card>
      </v-col>
    </v-row>
  </v-container>

</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'Book',
  data: () => ({
    book: {},
    details: {},
    queryUrl: '',
    failGettinBook: false,
    failedLoadImage: false
  }),
  async mounted () {
    // console.log(this.$route.params.key)
    try {
      const response = await this.$http(`https://openlibrary.org/works/${this.$route.params.key}.json`)
      this.details = response.data
      // console.log(this.details)
    } catch (error) {
      this.failGettinBook = true
      console.log(error)
    }
    // }
  },
  computed: {
    subjects () {
      if (this?.details?.subjects?.length) {
        return this?.details?.subjects.join(', ')
      } else return ''
    },

    authorName () {
      if (this.details?.authors) {
        const authors = this.details.authors.map(author => author.name).join(', ')
        if (authors.replaceAll(',', '').trim() !== '') return authors
      }
      return ''
    },
    setImage () {
      return this.failedLoadImage ? 'https://intratex.com/public/images/NoImagePlaceholder.png' : `http://covers.openlibrary.org/b/id/${this.$route.params.key}-L.jpg?default=false`
    }
  }
})
</script>
