<template>
  <v-container>
    <v-row class="text-center">

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3 mt-4">
          Libreria Simplex
        </h1>

      </v-col>

    </v-row>

    <v-row>
      <v-col cols="2">

      <v-select v-model="searhOption"
          :items="searchOptions"
          label="Parametro de busquedad"
          item-text="display"
          item-value="searchQuery"
        ></v-select>
      </v-col>
      <v-col>
        <v-text-field @input="debounceSearch" v-model="searchParam" label="Busca libro por Titulo o autor"
          append-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
    </v-row>
    <transition-group name="fade">
    <v-row v-if="loading" key="1">
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
      <v-col cols="4">

        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
    </v-row>

      <v-row v-if="noResults" class="d-flex justify-center mt-5" key="2">
        <p class="text-h2">Sin resultados</p>
      </v-row>
      <v-row v-if="!loading && !noResults" key="3">
        <v-col cols="4" v-for="book in results" :key="book.key">
          <v-card>
          <v-img :id="'image-'+book.key"
            height="250"
            :src="setImage(book)"
            :contain="true"
            @error="setAltImage(book.key)"
            ></v-img>
            <v-card-title>{{book.title}}</v-card-title>
            <v-card-text>
              <p class="text-subtitle-1">
                First publish year: {{book.first_publish_year}}
              </p>

              <router-link :to="{path: '/book/'+keyToUrl(book)}" >See more</router-link>
            </v-card-text>

          </v-card>
        </v-col>
      </v-row>

      <v-row key="4">
        <v-col>
          <v-pagination circle :total-visible="8"
            :length="totalResults" v-model="page">
          </v-pagination>
        </v-col>
      </v-row>
    </transition-group>
    <v-row>
      <v-snackbar v-model="snackBar" :timeout="2000">
        Error obteniendo el libro
        <template v-slot:action>
          <v-btn color="blue" text @click="snackBar = false">Cerrar</v-btn>
        </template>
      </v-snackbar>
    </v-row>
  </v-container>
</template>

<script>
import Vue from 'vue'
import getKey from '@/mixins/getKey'
export default Vue.extend({
  name: 'Index',

  data: () => ({
    searchParam: '',
    searchOptions: [{ display: 'Autor', searchQuery: 'author' }, { display: 'Titulo', searchQuery: 'title' }],
    searhOption: { display: 'Titulo', searchQuery: 'title' },
    debounce: null,
    noResults: false,
    loading: false,
    perPage: 9,
    totalResults: 0,
    page: 1,
    snackBar: false
  }),
  mounted () {
    if (this.$route.query?.search_by && this.$route.query?.search_param && this.$route.query?.page) {
      this.searhOption = this.$route.query?.search_by === 'author' ? this.searchOptions[0] : this.searchOptions[1]
      this.searchParam = this.$route.query?.search_param
      this.page = Number(this.$route.query?.page)
      if (!this.results?.length) {
        this.searchResults(this.page)
      } else this.totalResults = this.$store.state.results.numFound
    }
  },
  computed: {
    results () {
      return this.$store.state.results.docs
    },
    totalPages () {
      return this.totalResults / this.perPage
    },
    actualPage () {
      return this.$store.state.actualPage
    }
  },
  watch: {
    page () {
      this.$store.commit('setactualPage', this.page)
      this.searchResults(this.page)
    }
  },
  methods: {
    debounceSearch (event) {
      this.searchParam = ''
      this.noResults = false
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        if (!event) {
          // https://openlibrary.org/search.json?q=title%3Ait&limit=10&page=1&mode=everything
          this.loading = false
          return
        }
        this.searchParam = event
        this.searchResults()
      }, 600)
    },

    searchResults (page = 1) {
      this.loading = true
      this.page = page
      const searchQuery = this.searhOption.searchQuery || this.searhOption
      this.$http.get(`search.json?q=${searchQuery}:${this.searchParam}&limit=${this.perPage}&page=${page}`)
        .then((response) => {
          this.loading = false
          this.totalResults = response?.data?.numFound
          if (response?.data?.docs?.length) {
            this.$router.replace(`${this.$route.path}?search_by=${searchQuery}&search_param=${this.searchParam}&page=${page}`).catch(() => { /* catch solo para ignorar el error, ya que realmente no queremos ir a ninguna ruta */ })

            this.$store.commit('setResults', response.data)
          } else {
            this.noResults = true
          }
        })
        .catch(error => {
          this.loading = false
          this.snackBar = true
          console.log(error)
        })
    },

    setImage (book) {
      const key = getKey(book)
      return key.length ? `http://covers.openlibrary.org/b/${key}/${book[key][0]}-M.jpg?default=false` : 'https://intratex.com/public/images/NoImagePlaceholder.png'
    },

    keyToUrl (book) {
      return book.key.replace('/works/', '')
    },
    setAltImage (key) {
      const element = document.getElementById(`image-${key}`).querySelector('.v-image__image')
      element.style.backgroundImage = "url('https://intratex.com/public/images/NoImagePlaceholder.png')"
      element.style.filter = 0
    }

  }
})
</script>
